!!!
%head
  %title Conway's Game of Life
  %link{:href => '/style.css', :rel => 'stylesheet', :type => 'text/css'}
  %script{:type=> "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"}
  %script{:type=> "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"}
  %script{:type=> "text/javascript", :src => "/scripts/jquery.timer.js"}
  
  
  
%body
  != yield
    