.cell
  display: inline-block
  width: 20px
  height: 20px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  border: 2px solid #222
  &.dead
    background-color: #FFF
  &.alive
    background-color: #555
.row
  margin: 0
.spacer